/* HERO SECTION */

.hero {
  background-color: #f0f8ff;
  text-align: center;
}
.trust {
  background-color: rgb(188, 236, 188, 0.3);
  width: 15rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: rgb(3, 188, 3);
  align-self: center;
  margin-top: 5rem;
}

.heroHeading1 {
  color: rgb(55, 53, 53);
}
.heroHeading2 {
  color: rgb(49, 115, 238);
}
.herobtns button {
  text-align: center;
  width: 300px;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
}
.heroBtn1 {
  background-color: rgb(49, 115, 238);
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-in-out;
}

.heroBtn2 {
  margin-inline-start: 1rem;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}

.heroBtn1:hover {
  transform: scale(1.03);
}
.heroBtn2:hover {
  transform: scale(1.03);
  color: rgb(49, 115, 238);
  background-color: #cfe5f98c;
}

/* METRIC SECTION */

.metric-num {
  color: rgb(49, 115, 238);
}

/* TESTIMONIALS SECTION */

.testimonial {
  background-color: rgba(245, 245, 245, 0.564);
}

.upper {
  text-align: center;
}
.upperDiv {
  width: 40rem;
  margin: 0 auto;
}
.testimonialheading{
   padding-top: 0.5rem;
}
.lowerDiv {
  width: 20%;
  text-align: center;
  height: 17rem;
  padding: 0.75rem;
  background-color: white;
  border-radius: 2rem;
}
.logo {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(to bottom right, #5dabea 80%, #ffffff 120%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  color: white;
  padding: auto;
  padding-top: 0.2rem;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.lowerDiv:hover {
  border: 1px solid rgb(49, 115, 238);
}
.lowerDiv:hover .logo {
  transform: scale(1.1);
}

/* Session redirect */
.main {
  background-color: #f0f8ff;
  padding: 3rem;
}

.main h1 {
  margin-top: 5rem;
  color: black;
}
.sessionpara {
  width: 50%;
  margin: 1.5rem auto;
  font-size: 1.25rem;
}

.main button {
  background-color: rgb(49, 115, 238);
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
}

.main button:hover {
  transform: scale(1.1);
}

/* NAVBAR */
.navbar {
  height: 4rem;
  background: rgba(255, 255, 255, 0.1); /* keep semi-transparent */
  backdrop-filter: blur(4px); /* reduced blur */
  -webkit-backdrop-filter: blur(-5px); /* Safari */
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.leftDiv {
  display: flex;
}

.leftDiv-Link {
  text-decoration: none;
}

.leftDiv .logo {
  margin-bottom: 1rem;
  background: linear-gradient(to bottom right, #5dabea 80%, #ffffff 120%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.icon {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}
.leftDiv h3 {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.midDiv .navlink {
  text-decoration: none;
  margin-inline: 0.3rem;
  background: transparent;
  border: none;
  color: black;
  border-radius: 1.5rem;
  padding: 0.4rem 1rem;
  transition: all 0.2s ease-in-out;
}

.navlink:hover {
  color: rgb(49, 115, 238);
  background-color: #cfe5f98c;
}

.selected {
  background: rgb(59, 119, 229) !important;
  color: white !important;
}
.navlink .selected:hover {
  opacity: 0.9;
  color: white !important;
}
.selected {
  background: rgb(59, 119, 229) !important;
  color: white;
}
.selected:hover {
  opacity: 0.9;
  color: white !important;
}

.rightDiv .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background-color: whitesmoke;
  padding: 0.15rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid gainsboro;
}
.profileNavlink .profile:hover {
  background-color: #cfe5f98c !important;
}
.profile i {
  align-self: center;
  font-weight: 100 !important;
}
.profile h5 {
  align-self: center;
  font-size: 1rem;
  margin-top: 0.25rem;
  font-weight: 500;
}
.profileNavlink {
  text-decoration: none;
}
.profile:hover h5 {
  color: rgb(60, 122, 237) !important ;
}
.profile:hover i {
  color: rgb(60, 122, 237) !important ;
}

/* SIGNUP */

.signUpBox {
  margin: 8rem auto !important;
    transition: all 0.5s ease-in-out;
    
}

.signUpBox:hover{
box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 20px rgba(0,0,0,0.1);


}

.verified{
     color: rgb(52, 214, 52) !important; 
     margin: 0 auto !important;
     
  }

/* PROFILE */

.profileContainer {
  /* background-color: red; */
  margin-top: 7rem;
  text-align: left;
}

.profileContainer input {
  padding: 1rem !important;
  width: 20rem !important;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.12rem;
}
.profileContainer label {
  font-size: 1.12rem;
}
.profileContainer button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.12rem;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}

.profileContainer button:hover {
  transform: scale(1.12);
  background-color: rgb(60, 122, 237);
  color: white;
  border: none;
}

@media (max-width: 576px) {
  body {
    margin: 0 !important;
    padding: 0 !important;
    /* overflow-y: hidden; */
  }


  /* NAVBAR */

  
  .navbar {
    display: none;
  }
  .phoneNavbar {
    width: 100%;
  }
  .upper {
    background: rgba(255, 255, 255, 0.1); /* keep semi-transparent */
    backdrop-filter: blur(4px); /* reduced blur */
    -webkit-backdrop-filter: blur(-5px); /* Safari */
    width: 100% !important;
    margin-top: 0 !important;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid rgba(151, 147, 147, 0.588);
  }

  .logo {
    width: 3rem;
    height: 3rem;
    padding: 0rem 0.55rem !important;
    margin-top: 0 !important;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center !important;
    align-self: center !important;
  }
  .upperleftDiv {
    display: flex;
    margin-left: 0.5rem;
    justify-content: center;
    align-content: center !important;
    align-self: center !important;
  }
  .upperleftDiv h3 {
    margin-left: 0.35rem;
    margin-top: auto;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .upperleftDiv-Link {
    text-decoration: none;
    display: flex;
  }

  .upperRightDiv {
    display: flex;
    margin-right: 1rem;
    justify-self: center !important;
    align-self: center !important;
    height: fit-content;
    border-radius: 1rem !important;
  }

  .profile {
    background-color: #93c6f68c !important;
    display: flex !important;
    justify-content: center !important;
    align-self: center !important;
    align-content: center !important;
    height: fit-content;
    width: fit-content;
    border-radius: 1rem !important;
    text-align: center !important;
    padding-inline: 0.75rem;
  }

  .lower {
    background: rgba(255, 255, 255, 0.1); /* keep semi-transparent */
    backdrop-filter: blur(4px); /* reduced blur */
    -webkit-backdrop-filter: blur(-5px); /* Safari */
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
  .lower i {
    width: 100%;
  }

  .lower a {
    text-decoration: none !important;
    color: black !important;
  }
  .lower i {
    display: block;
    margin-bottom: 0.75rem;
  }

  .first {
    width: 4rem;
    height: 5rem;
    margin-left: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 1rem;
    font-size: 1.12rem;
  }

  .second {
    width: 10rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 1rem;
    font-size: 1.12rem;
    margin-left: 0 !important;
  }

  .third {
    width: 6rem;
    height: 5rem;
    text-align: center;
    padding-top: 0.5rem;
    border-radius: 1rem;
    padding-inline: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    margin-left: 0 !important;
  }

  .phoneSelected {
    background: rgb(59, 119, 229) !important;
    color: white !important;
  }

  .phoneSelected i,
  .phoneSelected span {
    color: white !important;
  }

  .testimonial {
    overflow: hidden;
  }
  

  /* SIGNUP */
  .signUpBox {
    margin-top: 11.5rem !important;
  }


  
   


  /* LANDING PAGE */
  .hero{
    margin-top: 11.35rem;
  }

 .trust{
    margin-top: 2 !important;
 }

 .heroHeadings{
    padding: 0 !important;
     margin-top: 0 !important;
 }
  .heroHeading1{
   
    font-size: 2.60rem !important;
    padding: 0 !important;
    width: 100% !important;
   
  }
  .heroHeading2{
    font-size: 2.60rem!important;
    padding: 0 !important;
    width: 100% !important;
   
  }

  .herobtns{ 
    display: flex;
    flex-direction: column;
    margin-inline: 0 !important;
    width: 100%;
  }
  
  .heroBtn2{
     margin-inline: 0 !important;
     margin-top: 1rem;
  }
  
 
   
  /* METRICS */
  .upperDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
  }

 
  /* TESTIMONIALS */
   .lowerDiv{
    width: 90%  ;
    margin: 1rem;
   }
   
   .lowerDiv .logo{
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
   }

   .lowerDiv:hover {
  border: 1px solid rgb(49, 115, 238);
}
.lowerDiv:hover .logo {
  transform: scale(1.35);
}


/* SESSION REDIRECT */

.session{
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sessionContainer{
  width: 100% !important;
  padding: 0 !important;
}
.session h1{
  padding-top: 2rem;
  margin-top: 0;
}
.main {
  padding: 0 !important;
}
.para {
  width:  1rem !important;
  padding-inline: 1rem;
  margin: 0 !important;
}


.profileContainer {
  /* background-color: red; */
  margin-top: 12rem;
 
}

.profileContainer input {
  padding-inline: 1rem !important;
  width: 100% !important;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.12rem;
   text-align: left !important;
 
}
.profileContainer label {
  font-size: 1.25rem;
  text-align: left !important;
}
.profileContainer button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  text-align: center !important;
   margin-left: 7rem;
  font-size: 1.12rem;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}

.profileContainer  button:hover {
  transform: scale(1.12);
  background-color: rgb(60, 122, 237);
  color: white;
  border: none;
}



}
